/**
 * Media Queries
 */
@mixin media-query($width)
  @media only screen and (max-width: $width)
    @content

@mixin media-query-full($min-width, $max-width)
  @media only screen and (min-width: $min-width) and (max-width: $max-width)
    @conten



/**
 * Font size
 *
 *      p
 *          @include font-size(16px)
 *
 */

@function calculateEm($size, $context: 16px)
  @return ($size / $context) * 1em


@mixin font-size($size)
  font-size: $size
  font-size: calculateEm($size)
  line-height: $size + 10
  line-height: calculateEm($size + 10)

@mixin text-outline($color)
  -webkit-text-stroke: 1px $color
  text-shadow: 1px 1px 0 $color, -1px -1px 0 $color, 1px -1px 0 $color, -1px  1px 0 $color, 1px  1px 0 $color

/**
 * div
 *   @include box-sizing(border-box)
 *
 **/

@mixin box-sizing($type)
  box-sizing: $type


/**
 * Expand element outside its container
 *
 *      img
 *          @include expand-full-width(16px)
 *
 *
 */

@mixin expand-full-width()
  width: 100vw
  margin-left: calc(-50vw + 50%)


/**
 * Absolute positionining
 *
 *      .logotype
 *          @include abs(10px, 10px, 5px, 15px)
 *
 **/
@mixin abs ($top: auto, $right: auto, $bottom: auto, $left: auto)
  top: $top
  right: $right
  bottom: $bottom
  left: $left
  position: absolute

/**
 * Centering
 *
 *      .logotype
 *          @include center(true, false)
 *
 **/
@mixin centerer($horizontal: true, $vertical: true)
  position: absolute
  @if ($horizontal and $vertical)
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  @else if ($horizontal)
    left: 50%
    transform: translate(-50%, 0)
  @else if ($vertical)
    top: 50%
    transform: translate(0, -50%)

/**
 * Opacity
 *
 *      .logotype
 *          @include opacity(0.5)
 *
 **/

@mixin opacity($opacity)
  opacity: $opacity
  filter: alpha(opacity=($opacity * 100))

/**
 * pos
 *
 *      .logotype
 *          @include pos(50px)
 *
 **/
@mixin pos($x, $y)
  transform: translate($x, $y)

/**
 * Vertical align
 *
 *      .logotype
 *          @include vertical-align()
 *
 *
 *      .logotype--absolute
 *          @include vertical-align(absolute)
 *
 *
 */

@mixin vertical-align($position: relative)
  position: $position
  top: 50%
  transform: translateY(-50%)

/**
 * @include transition(all 0.6s ease)
 *
 */

@mixin transition($args...)
  transition: $args

/**
 * Visually hide an element
 *
 *      p
 *          @extend %visually-hidden
 *
 *
 */

%visually-hidden,
.visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)


/**
 * Clearfix
 *
 *      p
 *          @extend %clearfix
 *
 *
 */

%clearfix,
.clearfix
  *zoom: 1

  &:before
    content: ' '
    display: table


  &:after
    content: ' '
    display: table
    clear: both
