/**
 * Colors
 * -----------------------------------------------------------------------------
 */

/* Brand colors
 * -------------------- */

$color--main:                    #012530

/* Base colors
 * -------------------- */

$color--white:                   #ffffff
$color--black:                   #333333

/* Text colors
 * -------------------- */

$color--text:                    #333333
$color--link:                    #fe2f2b

/* Button colors
 * -------------------- */

$color--button:              #e3e3e3
$color--button-hover:        darken($color--button, 5%)

/**
 * Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */

/* Font familys
 * -------------------- */

$font-family--primary:          'Lato', sans-serif

/* Font sizes
 * -------------------- */

$font-size--small:               14px
$font-size--base:                16px
$font-size--large:               24px

/* Transitions
 * -------------------- */

$transition-time--base:         .5s

/** screen sizes
 * -------------------- */
$mobile: 480px
$tablet: 768px
$mid-desktop: 992px
$desktop: 1200px

$mobile-min: $mobile
$tablet-min: $tablet
$mid-desktop-min: $mid-desktop
$desktop-min: $desktop

$mobile-max: ($tablet-min - 1)
$tablet-max: ($mid-desktop-min - 1)
$mid-desktop-max: ($desktop-min - 1)
